/* CreatePoll.css */
.MuiTextField-root .MuiInputBase-root .MuiInputBase-input {
  background-color: white !important;
  border:grey; /* Set background color to white */
}
.create-poll-container {
    background-color: #f8f8f5;
    padding: 0.5rem;
    border: solid grey 1px;
    width: 25rem;
    height: auto;
    margin: 0.8rem;
  }
  
  .text-field {
    width: 70%;
  }
  
  .button {
    padding: 0.3rem;
    border: solid grey 1px;
    margin: 0.5em;
  }
  @media only screen and (max-width: 440px) {
    
    .create-poll-container {
      width: 80%;
      margin: 0.5rem;
    }
  
}
