.heading{
    background-color:"#F2F1EB" ;
     margin:'0 1rem 1rem 0rem';
     margin-left:'0';
     margin-top:'0';
     display:'block';
     width: 80vw;
     box-shadow: 2px 2px 5px rgb(111, 113, 114);
     /* max-height: 150px;; */
}
.main-heading{
    /* height:1rem; */
    margin:1rem;
    padding:2rem 2rem 2rem 1rem ;
    /* font-weight: 900; */
    font-size: xx-large; 
}
@media only screen and (min-width: 290px) and (max-width: 380px){
.main-heading{
    padding: 2rem 1rem 2rem 1rem;
}
}